 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages and Tools</h2>
           <i class="devicon-java-original-wordmark colored"></i>
               <i class="devicon-spring-original-wordmark colored"></i>
      <i class="devicon-babel-original"></i>
           <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
          <i class="devicon-java-plain-wordmark"></i> 
         <i class="devicon-java-plain-wordmark colored"></i> 
               <i class="devicon-firebase-original-wordmark colored"></i> 
                    <i class="devicon-postgresql-original-wordmark colored"></i> 
                         <i class="devicon-amazonwebservices-original-wordmark colored"></i> 
              <i class="devicon-googlecloud-original-wordmark colored"></i> 
         <i class="devicon-git-original-wordmark colored"></i> 
            <i class="devicon-gradle-original-wordmark colored"></i> 
      <p>I work mainly in Backend, where my prefered language is Java, but I also have worked with some other languges and developing the frontend in certain projects</p>
    </div>
</div>
