 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
  <div style="font-size:5rem;width:100%;text-align:center;">👨‍💻</div>

  
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages and Tools</h2>
           <i class="devicon-java-plain-wordmark colored"></i>
               <i class="devicon-spring-plain-wordmark colored"></i>
         <i class="devicon-dart-plain-wordmark colored"></i> 
           <i class="devicon-csharp-plain colored"></i>
          <i class="devicon-mysql-plain-wordmark colored"></i> 
     

               <i class="devicon-firebase-plain-wordmark colored"></i> 
                    <i class="devicon-postgresql-plain-wordmark colored"></i> 
                <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-plain-wordmark colored"></i>
                         <i class="devicon-amazonwebservices-plain-wordmark colored"></i> 
              <i class="devicon-googlecloud-plain-wordmark colored"></i> 
         <i class="devicon-git-plain-wordmark colored"></i> 
            <i class="devicon-gradle-plain-wordmark colored"></i> 
      <p>I work mainly in Backend, where my prefered language is Java, but I also have worked with some other languges and developing the frontend in certain projects</p>
    </div>
</div>
