<!-- https://mediappfrontend3.herokuapp.com/consulta-wizard -->
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="project" src="{{ "/assets/img/12345.png" | prepend: site.baseurl }}"  style="padding-top: 50px;"/>
  </div>
  <div class="contents">
    <h3> MediApp Spring Boot </h3>
    <ul>
      <li> Java</li>
            <li> Spring Boot</li>
                     <li> REST</li>
                  <li> MySql</li>
            <li> Angular</li>
    </ul>
    <p>Software that allows medics to register in the system and patients to schedule appointments.</p>
    <a class="project-link" href="https://github.com/JuanCeron023/spring-mediapp1-backend">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="project" src="{{ "/assets/img/sfsdfsdf.png" | prepend: site.baseurl }}"  width="270" height="300"/>
  </div>
  <div class="contents-right">
    <h3> Cardiovascular App </h3>
    <ul>
      <li>Dart</li>
            <li>Firebase</li>
    </ul>
    <p>Application that allows people to know their cardiovascular risk based on a couple of measurements.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.niriom.revisar_sintoma">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="project" src="{{ "/assets/img/github1.jpg" | prepend: site.baseurl }}" width="270" height="300" style="padding-top: 70px;"/>
  </div>
  <div class="contents">
    <h3> Other Projects </h3>
    <ul>
      <li> Java</li>
            <li> Spring Boot</li>
                     <li> REST</li>
    </ul>
    <p>Different medium sized projects that I have done, mostly using Java, but some of them are done with other technologies aswell.</p>
    <a class="project-link" href="https://github.com/JuanCeron023?tab=repositories">Check it out</a>
  </div>
</div>
